*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color:rgb(61, 56, 56);
  font-family: sans-serif;
  color: aliceblue;
  line-height: 1.6;
}

.main-container{
  display: grid;
  max-width: 1200px;
  grid-template-columns: 350px 1fr;
  gap: 40px;
  padding-top: 40px;
  margin: auto;

}

.sidebar{

  height: 100vh;
  background-color: #2a2a2a;
  border-radius: 16px;
  padding: 40px;
  position: sticky;
  top: 40px;
  /* margin-bottom: 10px; */


}

.main-content{
 
  background-color: #2a2a2a;
  border-radius: 16px;
  border-bottom: 1px solid #3a3a3a;
  padding: 40px;
}

/* profile section */


.profile{

  text-align: center;
}

.profile img{
  
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px #3a3a3a;
  
}
.profile h2{

  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
  color: #e0e0e0;

}
.profile p{

  background-color: #1e1e1e;
 color: #ffbf00;
  border: 1px solid #3a3a3a;
  font-size: 0.8rem;
  display: inline-block;
  margin-top: 10px;
  border-radius: 8px;
  padding: 5px 15px;
  
}

/* content information */
.contact{
  margin-top: 30px;
  border-top:2px solid #3a3a3a;
  padding-top: 20px ;
}

.level{
  font-weight: 500;
  font-size: 0.8rem;
  color: #e0e0e0;

}

.value{
  color: #e0e0e0;
  text-decoration: none
}
.email{
  margin-bottom: 10px;
}
.phone{
   margin-bottom: 10px;
}

/* social media */

.social{
  margin-top: 30px;
  border-top:2px solid #3a3a3a;
  padding-top: 20px ;
  text-align: center;
}
.social img{
  height: 25px;
  width: 25px;
  margin-left: 5px;
  filter: grayscale(1) invert(0.7);
  transition: filter 0.3s ease;

}

.social img:hover{
  filter: grayscale(0) invert(0);
}



/* main content */


/* Navigation  */
#navigation{
  
  border-bottom: 2px solid #3a3a3a;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

nav{
  display: flex;
  justify-content: end;
  gap: 40px;

}
nav a{
  text-decoration: none;
  color: #a0a0a0;
  font-weight: 500;
  transition: color 0.3s ease;

}

.active, nav a:hover{
  color: #ffbf00;

}

/* about me  */

.heading{
  color: #e0e0e0;
  font-size: 2rem;
  margin-bottom: 15px;

}
.line{
  width: 40px;
  height: 5px;
  background-color: #ffbf00;
  margin-bottom: 15px;      


}

.contact{
  text-align: justify;

}

/* skills */

.grid-container{

  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(120px , 1fr));
  gap: 40px;


}

.items{
  padding: 20px;
  border-radius: 10px;
  border: solid #3a3a3a;
  background-color: #1e1e1e;
  margin-top: 30px;
  transition: transform 0.3s ease , box-shadow 0.3s ease;
  text-align: center;

}

.items img{
  filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
  height: 48px;
  width: 48px;
}
.items h3{
  font-size: 1rem;
  font-weight: 500;
}
.items:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
  
}

/* education */

#education{
  margin-top: 30px;

}
.edtech{
  position: relative;
  margin-top: 20px;
}

.year{
  font-size: 0.9rem;
  color: #a0a0a0;
  margin-bottom: 5px;

}
.degree{
  color: #e0e0e0;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.college{
  font-style: italic;
  color: #a0a0a0;
  margin-bottom: 10px;

}
.learning{
  color: #a0a0a0;
}
.edfirst,.second{
  margin-bottom: 30px;

  padding-left: 25px;
  position: relative;

}
.goal{
  height: 15px;
  width: 15px;
  border: 3px solid #ffbf00;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 5;
}
.liner{
  position: absolute;
  width: 2px;
  left: 5.5px;
  top:0px;
  bottom: 0px;
  border: 2px solid #3a3a3a;


}

/* portfolio */




.project-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 images per row */
  gap: 25px;
  width: 100%;
}
.project {
  background: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  border:1px solid #3a3a3a;
  transition: transform 0.5s ease , box-shadow 0.5s ease;
  
  
}
.project:hover{
  transform: translateY(-10px);
  box-shadow:0px 0px 10px 5px rgba(0,0,0,0.3) ;
}
.project img {
  
  width: 100%;
  height: 160px;
  object-fit: cover;
  display: block;
}
.card{
  padding: 20px;
  margin: 10px;
}

.card ,h3{
  color: #e0e0e0;

}
.card ,p{
  color: #a0a0a0;
  line-height: 1.6;
  text-align: start;
  margin-left: 5px;
  
  
}

.card , span{
  background-color: rgba(255,191,0,0.3);
  color: #ffbf00;
  border-radius: 5px;
  font-size: 0.75rem;
  margin-left: 10px;
}


@media screen and (max-width: 1200px) {
  .main-container {
    grid-template-columns: 1fr; /* mobile = 1 img per row */
    padding: 20px;
  }

  .sidebar{
    position: static;
  }
}


